:root {
    --green: #67ba6a;
    --gray: gray;
    --red: #f64e4e;
    --bgwhite: #f8f9fa;
    --white:#fff;
    --black:black;
}
.mainGigDiv{
    background-color:var(--white);
    width: 34.1%;
    min-height: min-content;
    position: absolute;
    left: 33%;
    padding: 0;
    margin-top: 0;
    top: 58px;
}
.gig-card{
    margin-left:11px;
    margin-right:0px;
    margin-bottom: 15px;
    margin-top: 0;
    height: 210px;
    background-color: var(--bgwhite);
    border: 0px solid #e0e0e0;
    border-radius: 4px;
    padding: 0px;
    width: calc(96% - 5px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}
.gig-list{
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    margin-top: 3px;
}
.gigMain{
    display: flex;
}
.gig-link{
    text-decoration: none;
    margin-bottom: 20px;
    color:var(--black);
}
.gigImage{
    width: 250px;
    height: 210px;
    padding-right: 10px;
    border-radius: 4px 0px 0px 4px;
}
.gig-div{
    display: flex;
}
.priceTag{
    color:var(--green);
    margin-bottom:20px;
}
@media (max-width: 480px) {
    .mainGigDiv {
        box-sizing: border-box;
        margin-top: 20px;
        width: 90%;
        left: 5%;
        position:absolute;
        top:135%;
    }
    .gigMain{
        display:block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .gig-card {
        width: calc(100% - 10px);
        height: 350px;
        margin: 5px 0;
    }

    .gig-list {
        gap: 8px;
        margin-top: 5px;
        justify-content: center;
    }

    .gigImage {
        width: 100%;
        height: auto;
        padding-right: 0;
        border-radius: 4px 4px 0 0;
    }
    .gig-Title{
        text-align: center;
    }
    .gig-link{
        text-align: center;
    }
    .gigCat{
        margin-bottom: 10px;
        text-align: center;
    }
    .priceTag {
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px;
    }
}